body {

    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 25px;

}

a {

    color: rgb(255, 255, 255);
    text-decoration: none;

}

button {

    height: 40px;
    width: 100px;
    border-radius: 40px;
    border: none;
    background-color: rgb(111, 9, 206);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;

}

button:hover {

    background-color: rgb(132, 46, 212);


}

h1 {

    color: rgb(255, 226, 226);
    font-weight: bold;
    
}

header .container {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.imgContainer {

    height: 600px;
    width: 425px;
    position: absolute;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.7)
    )
    ,url(img/pexels-athena-2582928.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;

}

.hero {

    text-align: center;
    padding: 50px;
    margin-top: 50px;

}



